body {
	text-align: center;
	background-color: #666;
	padding: 64px 0;
}

.parallax {
	margin: 0 auto;
	width: 512px;
	height: 768px;
	position: relative;
	perspective: 128px;
	transform-origin: center center 0px;
	overflow: hidden;
	box-shadow: 0 20px 60px rgba(0, 0, 0, .2);
}

@media only screen and (max-width: 960px) {
  body {
	margin: 0;
	padding: 0;
	background-color: #222;
  }

  .parallax {
    width: 100%;
	box-shadow: none;
  }
}

.parallax img {
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
}

.parallax .stats {
	font: 12px thin serif;
	line-height: 2px;
	position: absolute;
	text-align: left;
	left: 0;
	top: 0;
	opacity: 0.5;
}

